<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <style>
        html,
        #container {
            background-image: url("../../public/images/background.jpg");
            background-size: cover;
            background-position: center;
        }
        nav{
            color: #fff!important;
        }
    </style>

    <body class="h-full backdrop-blur-sm">
        
        <%- include('../partials/navbar') %>
        <div class="flex justify-center items-center h-[40rem] w-3/5 text-center mx-auto mt-24 rounded-2xl max-sm:w-4/5"
            id="container">
            <div class=" w-3/5 h-full max-xl:w-0">
            </div>
            <div class=" w-2/5 h-full backdrop-blur-xl max-xl:w-full rounded-2xl">
                <div class="flex items-center justify-center h-full">
                    <form method="post">

                        <div class="relative my-2">
                            <input type="text" class="px-2 py-2 peer w-64 max-sm:w-56 outline-white outline-1 border-2 rounded bg-transparent" name="name"
                                placeholder="Name"
                                value="<% if (typeof name != "undefined") { %><%= name %><% } %>">

                        </div>

                        <div class="relative my-2">
                            <input type="text" class="px-2 py-2 peer w-64 max-sm:w-56 outline-white outline-1 border-2 rounded bg-transparent"
                                name="lastname" placeholder="Last Name"
                                value="<% if (typeof lastname != "undefined") { %><%= lastname %><% } %>">

                        </div>

                        <div class="relative my-2">
                            <input type="text" class="px-2 py-2 peer w-64 max-sm:w-56 outline-white outline-1 border-2 rounded bg-transparent"
                                name="username" placeholder="Username"
                                value="<% if (typeof username != "undefined") { %><%= username %><% } %>">

                        </div>

                        <div class="relative my-2">
                            <input type="text" class="px-2 py-2 peer w-64 max-sm:w-56 outline-white outline-1 border-2 rounded bg-transparent"
                                name="email" placeholder="Email"
                                value="<% if (typeof email != "undefined") { %><%= email %><% } %>">

                        </div>

                        <div class="relative my-2">
                            <input type="password" class="px-2 py-2 peer w-64 max-sm:w-56 outline-white outline-1 border-2 rounded bg-transparent"
                                name="password" placeholder="Password"
                                value="<% if (typeof password != "undefined") { %><%= password %><% } %>">

                        </div>

                        <div class="mt-3 text-right w-64 max-sm:w-56">
                            <button type="submit"
                                class="px-3 py-1 bg-transparent text-white rounded border-2 border-white">Register</button>
                        </div>

                        <% if (typeof message !="undefined" ) { %>
                        <div class="text-center mt-2">
                                <p>
                                    <%= message.text %>
                                </p>
                            </div>
                            <% } %>
                    </form>
                </div>
            </div>
        </div>



        <%- include('../partials/footer') %>
    </body>

</html>