<!DOCTYPE html>
<html lang="en" class="dark">
<%- include('../partials/head') %>

    <body>
        <div class="flex">
            <%- include('../partials/side') %>
            <input type="hidden" id="userId" value="<%= userId %>">
            <input type="hidden" id="roomId" value="<%= roomId %>">
            <input type="hidden" id="friendId" value="<%= friendId %>">
                <div
                    class="w-full max-lg:ml-40 max-sm:ml-0 ml-60 p-2 min-h-screen max-lg:text-sm dark:bg-[#343541] dark:text-[#92959E]">
                    <%- include('../partials/navbar2') %>
                        <main class="flex flex-col  items-center my-20 min-h-[80vh]">
                            <div class="w-1/2 max-lg:w-3/4 break-all max-sm:w-5/6 max-md:text-xs max-lg:text-sm">

                                <div class="flex flex-col justify-center h-[70vh] relative">
                                    <div class="bg-gray-200 dark:bg-[#5c5f75] bg-opacity-60 dark:bg-opacity-20 py-8 overflow-y-auto rounded h-full" id="sc">
        
                                        <div id="messageList"></div>
                                        
                                    </div>
                                    <form id="messageForm" class="flex mt-1">
                                        <input id="messageInput" type="text"
                                            class="rounded w-full mr-1 py-1 px-3 dark:bg-[#3C3D4B] bg-gray-200">
                                        <button
                                            class="py-1 px-3 max-sm:px-1 bg-indigo-500 text-white dark:bg-indigo-800 rounded hover:opacity-80 w-1/5">Send</button>
                                    </form>
                                </div>

                            </div>

                        </main>
                        <%- include('../partials/footer') %>
                </div>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/js/getMessages.js"></script>

    <script>
        const sc = document.getElementById("sc")
        sc.scrollTo(0, sc.scrollHeight)

        const roomId = document.getElementById("roomId").value
        const friendId = document.getElementById("friendId").value
        const messageForm = document.getElementById('messageForm')
        const messageList = document.getElementById('messageList')
        const socket = io.connect();

        socket.on('connect', () => {
            console.log(`Connected to Socket.IO with ID: ${socket.id}`);
            socket.emit('joinRoom', roomId);
        });

        socket.on('message', (data) => {
            const messageList = document.getElementById("messageList")
            const div = document.createElement("div")
            const p = document.createElement("p")

            if (data.sender == document.getElementById("userId").value) {
                div.className = "flex justify-end px-4"
            }
            else {
                div.className = "flex px-4"
                const img = document.createElement("img")
                img.src = "../../public/images/<%= friendImage %>"
                img.className = "w-8 h-8 rounded-full object-cover mr-1 ring-1 ring-orange-500"
                div.appendChild(img)
            }
            p.className = "bg-indigo-500 dark:bg-[#444654] text-white py-1 px-3 inline-block rounded-lg mb-4 max-w-[20rem]"
            p.innerText = `${data.message}`
            div.appendChild(p)
            messageList.appendChild(div)
            sc.scrollTo(0, sc.scrollHeight)
        })

        messageForm.addEventListener('submit', (event) => {

            event.preventDefault()

            const messageInput = document.getElementById("messageInput")
            if (messageInput.value.length > 0) {
                const userId = document.getElementById("userId").value
                const messageData = {
                    message: messageInput.value.trim(),
                    roomId: roomId,
                    sender: userId
                }
                console.log("message:", messageData.message)
                socket.emit('message', messageData);
                axios.post("/api/save-message", {
                    roomId: roomId,
                    senderId: userId,
                    receiverId: friendId,
                    message: messageInput.value.trim()
                })
                messageInput.value = ''
                sc.scrollTo(0, sc.scrollHeight)

            }
        })
    </script>

</html>