<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <style>
        section:last-child {
            border: none;
        }
    </style>

    <body>
        <div class="flex flex-wrap dark:bg-[#343541]">
            <div class="z-10 w-full">
                <%- include('../partials/navbar') %>
            </div>

            <%- include('../partials/side') %>
                <div class="mt-8 flex-grow ml-64">
                    <div class="min-h-[85vh] mb-40 mt-20">
                        <% if (typeof isAuth !="undefined" ) { %>
                            <div class="w-3/5 mx-auto p-2">
                                <button onclick="starttopic()"
                                    class="px-2 py-1 bg-red-300 text-white rounded mx-auto p-2 mt-5">Start a
                                    topic</button>
                            </div>
                            <% } %>
                                <!--topic create-->
                                <form method="post" id="topiccreate" class="hidden w-3/5 mx-auto p-2">
                                    <div class="relative my-2">
                                        <input type="text"
                                            class="px-2 py-2 peer w-full outline-cyan-600 border-2 rounded" name="title"
                                            placeholder="Title">
                                    </div>
                                    <div class="relative my-2">
                                        <textarea id="editor" name="content" placeholder="Comment"></textarea>
                                    </div>
                                    <button type="submit"
                                        class="px-2 py-1 bg-blue-800 rounded text-white hover:-translate-y-[2px] transition-all">Create</button>
                                </form>

                                <div
                                    class="w-3/5 mx-auto border-2 border-indigo-400 dark:border-[#444654] rounded mt-5">
                                    <% topics.forEach(topic=> { %>
                                        <section
                                            class="flex justify-between border-b-2 border-indigo-400 dark:border-[#444654]">
                                            <div class="flex items-center dark:text-[#92959E]">
                                                <div class="p-3 text-center min-w-[13rem] max-w-[13rem]">
                                                    <div class="flex flex-col items-center">
                                                        <a href="/user/<%= topic.user.id %>"> <img
                                                                src="../../public/images/<%= topic.user.image %>" alt=""
                                                                class="object-cover h-12 w-12 rounded-full my-2 ring-2 ring-green-400 max-md:h-12 max-md:w-12"></a>
                                                        <span class="text-xs">
                                                            <%= topic.user.firstName %>
                                                                <%= topic.user.lastName %>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="font-semibold">
                                                    <a href="/topic/<%= topic.id %>">
                                                        <%= topic.title %>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dark:text-[#92959E]">
                                                <div
                                                    class="flex flex-col justify-center pr-8 border-l-2 border-indigo-400 dark:border-[#444654] h-full">
                                                    <div class="flex justify-between">
                                                        <div class="px-4">Views:</div>
                                                        <div>
                                                            <%= topic.views %>
                                                        </div>
                                                    </div>
                                                    <div class="flex justify-between">
                                                        <div class="px-4">Messages:</div>
                                                        <div>
                                                            <%= topic.messages %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <% }) %>

                                </div>
                    </div>
                    <div>
                        <%- include('../partials/footer') %>
                    </div>
                </div>
        </div>
    </body>

    <script>
        function starttopic() {
            const topiccreate = document.getElementById("topiccreate")
            if (topiccreate.classList.contains("hidden")) {
                topiccreate.classList.add("block")
                topiccreate.classList.remove("hidden")
            }
            else {
                topiccreate.classList.remove("block")
                topiccreate.classList.add("hidden")
            }
        }
    </script>
    <%- include('../partials/ck-editor') %>
        <script src="../../public/js/theme.js"></script>

</html>